<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734320394849-ourjke75gkjls312nv9e3o6lsicb8qlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734320394849-ourjke75gkjls312nv9e3o6lsicb8qlf</string>
	<key>API_KEY</key>
	<string>AIzaSyBbgFJd3r04fgIOxVDUerpea2emsHS7zX0</string>
	<key>GCM_SENDER_ID</key>
	<string>734320394849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docnet</string>
	<key>PROJECT_ID</key>
	<string>docnet-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>docnet-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734320394849:ios:cb4d493f37a123a204e020</string>
</dict>
</plist>